@import '@siemens/ix-aggrid/dist/ix-aggrid/ix-aggrid.css';

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;
}
thead {
  background-color: #464646;
}
tr:hover {
  background-color: #4b4b4b;
}